@import "tailwindcss";
@plugin "daisyui";



a.active {
  background-color: slategrey;      /* light‑gray BG when active */
  border-radius: 4px;             /* optional rounded corners */
  padding: 4px 8px;               /* keeps text from touching edges */
}
